.skill-img {
  height: 30px;
}

.skill-row {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: left;
  gap: 20px;
}

.skill-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.skill-text {
  font-size: 2rem;
  color: #06283d;
  line-height: 38px;
}

.info-text {
  font-size: 2rem;
}

.full-container {
  display: flex;
  justify-content: center;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: fit-content;
}

@media (max-width: 1230px) and (min-width: 881px) {
  .margin-total-sm {
    margin: 0px !important;
  }
  .full-container {
    justify-content: space-between;
  }
}

@media (max-width: 1114px) {
  .info-text {
    font-size: 1.5rem;
  }
  .content {
    background-color: #1a2c5b;
  }
}

@media (max-width: 881px) {
  .margin-total-about {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .text-about {
    font-size: 1.1rem;
  }
}

@media (max-width: 664px) {
  .info-text {
    font-size: 1.2rem;
  }
  .padding-total {
    padding-left: 20px;
    padding-right: 20px;
  }
  .text-about {
    text-align: left !important;
  }
}

@media (max-width: 420px) {
  .info-text {
    font-size: 1rem;
  }
  .skill-img {
    height: 20px;
  }
}

@media (max-width: 380px) {
  .text-about {
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .info-text {
    font-size: 0.85rem;
  }
}
