.anywebsite-img {    
  width: 100%;
}

.block {
  width: 15%;
}

.name {
  color: #06283D;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.and-more {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  color: #1363df;
}

.container-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
}


@media (max-width: 664px) {
  .block {
    width: 80%;
  }
  .and-more {
    font-size: 1rem;
  }
  .blocks {
    align-items: center;
  }
}
