.contact-container {
  margin-top: 70px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 60px;
  transform: scale(0.6);
}

.contact-img {
  width: 100px;
}

.contact-radius {
  border-radius: 25px;
}

.contact-img:hover {
  cursor: pointer;
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.contact-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-to-top {
  margin: auto;

  width: 70px;
  height: 70px;

  border-radius: 100px;
  background-color: #45b2fbc9;
}
