footer {
  height: 60px;
  border-top: 1px solid #d1d1d1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-contact-img {
  width: 25px;
  filter: grayscale(100%);
}

.footer-contact-img:hover {
  cursor: pointer;
  filter: grayscale(50%);
}

.text-disabled {
  color: gray!important;
}