footer {
  height: 60px;
  border-top: 1px solid #d1d1d1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-contact-img {
  width: 25px;
  filter: grayscale(100%);
}

.footer-contact-img:hover {
  cursor: pointer;
  filter: grayscale(50%);
}

.text-disabled {
  color: gray !important;
}

@media (max-width: 780px) {
  .text-disabled {
    font-size: 0.8rem;
  }
}

@media (max-width: 663px) {
  footer {
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
}
