input,
textarea {
  height: 50px;
  padding-left: 20px;
  border-radius: 4px;
  outline: none;
  border: 2px solid #45b2fbc9;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
}

textarea {
  resize: vertical;
  padding-top: 10px;
  height: 200px;
}

form {
  margin: auto;
  width: 75%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 20px;
  margin-top: 60px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.input-container input {
  flex: 1;
}
