header {
  height: 60px;
  padding-bottom: 10px;
  padding-top: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #d1d1d1;
}

.brand {
  text-decoration: none;
  font-size: 2rem;
  color: #06283D;
  font-weight: 600;
}

.navigation {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color:#45b2fbc9;
  font-weight: 700;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.navigation a:hover {
  opacity: 0.5;
}

.text-center {
    text-align: center;
}