header {
  height: 60px;
  padding-bottom: 10px;
  padding-top: 10px;

  background-color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  width: 50px;
}

.navigation {
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #45b2fbc9;
  font-weight: 700;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.navigation a:hover {
  opacity: 0.5;
}

.text-center {
  text-align: center;
}

@media (max-width: 663px) {
  header {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
