.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 40px;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.container-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.headline-center {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  color: #06283d;
}

.paragraph {
  flex: 1;
}

.text {
  font-size: 4rem;
  font-weight: 300;
  margin-top: 0px;
  color: #06283d;
}

.blue {
  color: #1363df;
  font-weight: 700;
}

.black {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

@media (max-width: 1114px) {
  .headline-center,
  .text {
    font-size: 3rem;
  }
  .headline {
    font-size: 2rem;
  }
}

@media (max-width: 880px) {
  .headline-center,
  .text {
    font-size: 2rem;
  }
  .headline {
    font-size: 1rem;
  }
}