.profile {
  width: 450px;
  height: 450px;

  background-position: 0px -50px;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 360px;
}

.headline {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 25px;
  color: #1a2c5b;
}

.headline-sm {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 25px;
  color: #1a2c5b;
}

.headline-xs {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #1a2c5b;
}

.btn-container-left {
  display: flex;
  justify-content: left;
}

.btn-container-center {
  display: flex;
  justify-content: center;
}

.no-bottom {
  margin-bottom: 0px;
}

.text-collapsed {
  font-size: 2rem;
  color: #868686;
}

.text-collapsed-xs {
  font-size: 1rem;
  color: #868686;
}

.text-container {
  margin-bottom: 60px;
}

.text-margin-bottom {
  margin-bottom: 64px;
}

.padding-total-intro {
  padding-top: 120px !important;
}

@media (max-width: 1114px) {
  .headline {
    font-size: 3.7rem;
  }
  .headline-sm {
    font-size: 2.6rem;
  }

  .headline-xs {
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #1a2c5b;
  }

  .text-collapsed {
    font-size: 1.4rem;
  }
  .text-container {
    margin-bottom: 50px;
  }
  .profile {
    width: 400px;
    height: 400px;
  }
  .action-btn-m {
    padding: 12px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    height: 50px !important;

    font-size: 1.2rem !important;
  }
  .padding-total-intro {
    padding-top: 60px !important;
  }
}

@media (max-width: 882px) {
  .headline {
    font-size: 3rem;
  }
  .text-collapsed {
    font-size: 1.1rem;
  }
  .profile {
    width: 300px;
    height: 300px;
  }
  .action-btn-m {
    padding: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    height: 40px !important;

    font-size: 1rem !important;
  }
}

@media (max-width: 727px) {
  .headline {
    font-size: 2.8rem;
  }
  .text-collapsed {
    font-size: 1rem;
  }
  .profile {
    width: 280px;
    height: 280px;
  }
  .action-btn-m {
    padding: 11px !important;
    padding-left: 13px !important;
    padding-right: 13px !important;
    height: 37px !important;

    font-size: 0.9rem !important;
  }
}

@media (max-width: 684px) {
  .headline {
    font-size: 2.6rem;
  }
  .text-collapsed {
    font-size: 0.9rem;
  }
  .profile {
    width: 260px;
    height: 260px;
  }
  .action-btn-m {
    padding: 10px !important;
    padding-left: 12.5px !important;
    padding-right: 12.5px !important;
    height: 35px !important;

    font-size: 0.8rem !important;
  }
}

@media (max-width: 664px) {
  .headline {
    font-size: 10vw;
    text-align: center;
  }
  .profile {
    margin: auto;
    width: 80vw;
    height: 80vw;
  }
  .paragraph {
    text-align: center;
  }
  .btn-intro {
    justify-content: center;
  }
  .text-collapsed {
    font-size: 5vw;
  }
  .text-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .action-btn-m {
    padding: 2vw !important;
    padding-left: 5vw !important;
    padding-right: 5vw !important;
    height: 12.4vw !important;

    font-size: 5vw !important;
  }
  .padding-total-intro {
    padding-top: 20px !important;
    padding-bottom: 60px !important;
  }
}
