.profile {
  width: 500px;
  height: 500px;

  border-radius: 16px;
  background-color: #1363df;
}

.headline {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
  color: #06283d;
}

.btn-container-left {
  display: flex;
  justify-content: left;
}

.btn-container-center {
  display: flex;
  justify-content: center;
}

.no-bottom {
  margin-bottom: 0px;
}

.text-collapsed {
  width: 100%;
  display: flex;
  justify-content: left;
}

.text-margin-bottom {
  margin-bottom: 64px;
}
