.profile {
  width: 500px;
  height: 500px;

  border-radius: 16px;
  background-color: #1363df;
}

.headline {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #06283d;
}

.btn-container {
  display: flex;
  justify-content: left;
}
