.padding-total {
  padding-left: 120px;
  padding-right: 120px;
}

.margin-total {
  margin-top: 160px;
  margin-bottom: 260px;
}

.shadow {
  box-shadow: 0 0 10px -5px #06283D;
}

.shadow-top {
  box-shadow: 0 0 20px -5px #06283D;
}

.action-btn {
  border: none;

  width: 200px;
  height: 50px;
  background-color: #47B5FF;
  color: white;
  border-radius: 8px;

  font-size: 1.5rem;
  font-weight: 600;

  transition: background-color 0.3s ease-in-out;
}

.action-btn:hover {
  background-color: #74d3f8;
  cursor: pointer;
}
