.padding-total {
  padding-left: 120px;
  padding-right: 120px;
}

.margin-total {
  margin-top: 160px;
  margin-bottom: 260px;
}

.shadow {
  box-shadow: 0 0 10px -5px;
}

.action-btn {
  border: none;

  width: 200px;
  height: 50px;
  background-color: #47b5ff;
  color: white;
  border-radius: 4px;

  font-size: 1.5rem;
  font-weight: 600;
}
