.padding-total {
  padding-left: calc((100% - 1180px) / 2);
  padding-right: calc((100% - 1180px) / 2);
}

.margin-total {
  padding-top: 160px;
  padding-bottom: 260px;
}

.margin-total-sm {
  margin-top: 100px;
  margin-bottom: 200px;
}

.total-shadow {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.69) 0%,
    rgba(255, 164, 24, 0) 45%,
    rgba(255, 155, 0, 0) 55%,
    rgba(255, 255, 255, 0.69) 100%
  );
}

.margin-top {
  margin-top: 160px;
}
.margin-bottom {
  margin-bottom: 260px;
}
.shadow {
  box-shadow: 0 0 10px -5px #06283d;
}

.shadow-top {
  box-shadow: 0 0 20px -5px #06283d;
}

.action-btn-m {
  border: none;

  /* width: 200px; */
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  height: 60px;
  background-color: #7971ea;
  color: white;
  border-radius: 8px;

  font-size: 1.4rem;
  font-weight: 600;

  transition: background-color 0.5s ease-in-out;
  /* transition: color 3s ease-in-out; */
}

.action-btn-m:hover {
  color: #7971ea;
  background-color: #b8dff0;
  cursor: pointer;
}

.action-btn-sm {
  border: none;

  /* width: 200px; */
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  background-color: #1A2C5B;
  color: white;
  border-radius: 8px;

  font-size: 1rem;
  font-weight: 600;

  transition: background-color 0.5s ease-in-out;
  /* transition: color 3s ease-in-out; */
}

.action-btn-sm:hover {
  color: #7971ea;
  background-color: #b8dff0;
  cursor: pointer;
}

@keyframes move {
  from {
    transform: translate(-10px);
  }
  to {
    transform: translate(10px);
  }
}


.btn-disabled {
  border: none;

  /* width: 200px; */
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  background-color: #c5c5c5c9;
  color: white;
  border-radius: 8px;

  font-size: 1.5rem;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(197, 197, 197);
  border-radius: 4px;
  transition: background-color 0.5s ease-in;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(170, 170, 170);
}

@media (max-width: 1200px) {
  .padding-total {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 1114px) {
  .padding-total {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1032px) {
  .padding-total {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 952px) {
  .padding-total {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 912px) {
  .padding-total {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 880px) {
  .padding-total {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 830px) {
  .padding-total {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 780px) {
  .padding-total {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* 662 */

@media (max-width: 662px) {
  .padding-total {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 520px) {
  .padding-total {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 454px) {
  .padding-total {
    padding-left: 20px;
    padding-right: 20px;
  }
  .margin-total {
    margin-top: 60px;
    margin-bottom: 260px;
  }
}

@keyframes grow {
  0% {
    transform: scale(0.7);
  }
  /* 50% {
    transform: scale(1);
  } */
  100% {
    transform: scale(1);
  }
}

.grow-anim {
  animation: grow 4.6s;
  /* animation-iteration-count: infinite; */
}

@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.scale-anim {
  animation: scale 0.5s;
}

@keyframes slide {
  from {
    transform: translate(-2000px);
  }
  to {
    transform: translate(0);
  }
}

.slide-anim {
  animation: slide 0.5s;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}

.opacity-anim {
  animation: opacity 0.5s;
}

.opacity-anim-slow {
  animation: opacity 0.8s;
}

@keyframes elevate {
  0% {
    transform: translate(0, 5px);
  }
  50% {
    transform: translate(0);
  }
  100% {
    transform: translate(0, 6px);
  }
}

.elevate-anim {
  animation: elevate 1s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px yellow;
  }
  50% {
    text-shadow: 0 0 0px yellow;
  }
  100% {
    text-shadow: 0 0 5px yellow;
  }
}

.glow-anim {
  animation: glow 1s ease-in-out;
  animation-iteration-count: infinite;
}
