.portofolio-text {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 40px;
  color: #a6b9c2;
}

.portofolio-text-container {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  gap: 60px;
}

.portofolio-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
}

.portofolio-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.portofolio-block {
  width: 50%;
  padding-bottom: 32.25%;

  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.486);
}

.portofolio-palceholder {
  width: 150px;
  height: 150px;

  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 1114px) {
  .portofolio-block {
    width: 200px;
    height: 130px;
  }
  .portofolio-palceholder {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 880px) {
  .portofolio-block {
    width: 160px;
    height: 100px;
  }
}
