.containers {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portofolio-container-diff {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
}

.huge-row {
  flex: 1;
  width: 50vw; /* */
}

.small-row {
  width: 380px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portofolio-container-normal {
  display: flex;
  justify-content: left;
  gap: 20px;
}

.portofolio-item {
  /* background-color: rgb(131, 131, 131);
  border-radius: 4px;
  transition: background-color 0.5s ease-in-out;
}

.portofolio-item:hover {
  /* background-color: rgb(83, 83, 83); */
  cursor: pointer;
}

.portofolio-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;

  border-radius: 4px;
  z-index: 0;
}

.portofolio-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;

  border-radius: 4px;
  z-index: 1;

  background-color: rgba(218, 218, 218, 0.5);
}

.item {
  flex: 1;
  width: 100%;
  position: relative;
}

.item-normal {
  height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 16.25%;
}

.item-no-anim {
  background-color: rgb(41 41 41 / 0%) !important;
}

.item-aspect {
  padding-bottom: 56.25%;
}

.item-sm {
  position: relative;
  flex: 1;
  height: unset;
  position: relative;
}

.item-img {
  width: 100%;
  height: 80%;
  background-color: #1363df;
  border-radius: 4px 4px 0 0;
}

.item-control {
  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 20%;
  border-radius: 0 0 4px 4px;
}

.item-title-dark {
  padding-left: 16px;
  padding-top: 6px;
  font-size: 2rem;
  font-weight: 500;
  color: #1a2c5b;
  z-index: 2;
  position: relative;
}

.item-title-light {
  padding-left: 16px;
  padding-top: 6px;
  font-size: 2rem;
  font-weight: 500;
  color: #b8dff0;
  z-index: 2;
  position: relative;
}

.item-repo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  border-radius: 4px;
  background-color: rgba(41, 41, 41, 0.466);

  color: #4f4997;
  z-index: 2;
}

.item-repo:hover {
  opacity: 1;
}

.item-repo-anim {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.item-repo a {
  padding-bottom: 20px;
  cursor: alias;
  text-align: center;
}

.item-repo-dark {
  padding-left: 16px;
  padding-top: 6px;
  font-size: 2rem;
  font-weight: 300;
  color: #06283d;
}

.item-repo-light {
  padding-left: 16px;
  padding-top: 6px;
  font-size: 2rem;
  font-weight: 300;    
  color: #DFF6FF;
}

.item-link-dark {
  color: inherit;
}

.item-link-dark:hover,
.item-link-light:hover {
  text-decoration: underline;
}

.item-link-light {
  color: #7a70eb;
}

@keyframes cover {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 5;
  animation: cover 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portofolio-headline {
  margin-top: 0;
}

@media (max-width: 1114px) {
  .small-row {
    width: 300px;
  }
}

@media (max-width: 1000px) {
  .containers {
    align-items: center;
    height: fit-content;
  }
  .item {
    width: 100%;
    padding-bottom: 56.25%;
    flex: 1 100%;
    /* flex: 1 500px; */
  }
}

@media (max-width: 664px) {
  .portofolio-headline {
    margin-top: 30px;
  }
}

@media (max-width: 662px) {
  .item-title-dark,
  .item-title-light,
  .item-repo-dark,
  .item-repo-light {
    font-size: 1.5rem;
  }
}
