.portofolio-text {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 40px;
  color: #a6b9c2;
}

.portofolio-text-container {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  gap: 60px;
}

.portofolio-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}

.portofolio-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.portofolio-block {
  position: relative;

  width: 50%;
  padding-bottom: 32.25%;

  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portofolio-title {
  position: absolute;
  top: 0%;
  left: 0;

  padding-left: 16px;
  padding-top: 6px;
  font-size: 3vw;
  /* font-size: 2rem; */
  font-weight: 500;
  color: #1a2c5b;
  z-index: 2;
}

.portofolio-palceholder {
  width: 150px;
  height: 150px;

  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 1114px) {
  .portofolio-palceholder {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 664px) {
  .portofolio-palceholder {
    width: 100px;
    height: 100px;
  }
  .portofolio-block {
    width: 100%;
    padding-bottom: 64.5%;
  }
  .portofolio-title {
    font-size: 6vw;
  }
}
