.portofolio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portofolio-block {
  width: 250px;
  height: 170px;

  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: rgba(0, 0, 0, 0.486);
}

.portofolio-palceholder {
  width: 150px;
  height: 150px;

  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 1114px) {
  .portofolio-block  {
    width: 200px;
    height: 130px;
  }
  .portofolio-palceholder {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 880px) {
  .portofolio-block  {
    width: 160px;
    height: 100px;
  }
}