@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.scroll-top {
  position: fixed;
  bottom: 3%;
  right: 3%;

  width: 70px;
  height: 70px;

  border-radius: 100px;
  background-color:#7971EA;
  color: white;
  transition: background-color 0.3s ease-in-out;

  animation-name: appear;
  animation-duration: 0.2s;
}

.scroll-top:hover {
  color: #7971ea;
  background-color: #b8dff0;
  cursor: pointer;
}

.icon-top {
  transform: rotate(270deg);
  font-size: 2rem;
  margin-top: -10px;
  margin-left: -4px;
}

.scroll-disappear {
  animation-name: disappear;
  animation-duration: 0.2s;
  transform: scale(0);
}
